@font-face {
  font-family: 'Play';
  src: url('../fonts/Play-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Play';
  src: url('../fonts/Play-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Play';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #e6ebee;
}

body {
  background-color: #0e1316;
}
